{% extends "base.html" %}

{% block title %}Announcements{% endblock %}

{% block content %}
<br/><br/><br/>
<!-- <a style="font-size: normal" href="/classroom/courses/add_announcement_show_page/">Add an Announcement</a><br/>
<a style="font-size: normal" href="/classroom/courses/edit_announcement/">Edit an Announcement</a><br/> -->
if you want to create announcement. then go to course -> edit a course (announcement is added to specific course only)<br/><br/>
<a style="font-size: normal" href="/classroom/courses/list_announcement/">List all Announcements</a><br/>
<!-- <a style="font-size: normal" href="/classroom/courses/delete_announcement/">Delete an Announcements</a><br/> -->
<br/><br/><br/>
{% endblock %}
