{% extends "base.html" %}

{% block title %}Add Announcement{% endblock %}

{% block content %}
{{data}}
<article class="large-6 columns">
<form action="/classroom/courses/add_announcement/" method="post">{% csrf_token %}
	
<table>	
{{courseID}}
<tr>
<td><label style="font-weight: bold">Title : </label></td>
<td><input type="text" name="announcement_title" id="announcement_title"></td>
</tr>

<tr>
<td><label style="font-weight: bold">Description : </label></td>
<td><input type="text" name="announcement_description" id="announcement_description"></td>
</tr>
<input type="hidden" name="courseID" id="courseID" value={{courseID}}>
<tr>
<td><input type="submit" value="Add Announcement"></td>
</tr>		
		
</table>
</form>
</article>
{% endblock %}