{% extends "base.html" %}

{% block title %}Account Settings{% endblock %}

{% block content %}
<br/><br/><br/>
<a style="font-size: normal" href="/classroom/add_course_show_page">Add a Course</a><br/><br/><br/>
<a style="font-size: normal" href="/classroom/owned_course">Edit a Course</a><br/><br/><br/>
<a style="font-size: normal" href="/classroom/list_course">List All Courses</a><br/><br/><br/>
<a style="font-size: normal" href="/classroom/show_category_add_page">Delete a Course</a><br/><br/><br/>
<br/><br/><br/>
{% endblock %}
