{% extends "base.html" %}

{% block title %}Discussion{% endblock %}

{% block content %}
<br/><br/><br/>
<a style="font-size: normal" href="/classroom/courses/add_discussion_page/">Add a Discussion</a><br/><br/>
<!-- <a style="font-size: normal" href="/classroom/course/edit_discussion/">Edit a Discussion</a><br/><br/> -->
<a style="font-size: normal" href="/classroom/courses/list_discussion/">List all Discussions</a><br/><br/>
<!-- <a style="font-size: normal" href="/classroom/course/delete_discussion/">Delete a Discussion</a><br/><br/> -->
<br/><br/><br/>
{% endblock %}
