<html lang="en">
<head>
    
    <title>{% block title %}My amazing site{% endblock %}</title>
</head>

<body>
	<table>
		<tr>
			<td>
				<div id="sidebar">
  			      {% block sidebar %}
        			<ul>
            			<li><a href="/">Home</a></li>
            			<li><a href="/register/">Register</a></li>
            			<li><a href="/get_user/meet">Get User</a></li>
            			<li><a href="/update_user/meet">update User</a></li>
            			<li><a href="/delete_user/meet">delete User</a></li>
        			</ul>
        			{% endblock %}
    			</div>
			</td>
			<td>
				<div id="content">
        			{% block content %}{% endblock %}
    			</div>
			</td>
		</tr>
	</table>
    

    
</body>
</html>
